---
import { 
  createOGData,
  createTitleFromTemplate,
  defaultDescription,
  siteName,
  type OpenGraphImage,
  createTwitterCardData,
} from "@/lib/util";
import "./_globalElement.css";
import "./_globals.css";
import Header, { type NavigationLink } from "./_components/Header.astro";
import { articlesListPagePath } from "@/lib/article/listPage";
import Footer from "./_components/Footer.astro";

export interface Props {
  title?: string;
  description?: string;
  thumbnail?: string;
  ogType?: "website" | "article";
}

const { 
  description,
  thumbnail,
  ogType = "website",
  ...props
} = Astro.props;

const title = props.title ? createTitleFromTemplate(props.title) : siteName;

const ogData = createOGData(title, description, Astro.url.pathname, thumbnail);
const twitterCardData = createTwitterCardData(title, description, thumbnail);

const links = {
  articles: { href: articlesListPagePath, label: "記事一覧" },
  tags: { href: "/tags/", label: "タグ一覧" },
  about: { href: "/about/", label: "このサイトについて" },
  profile: { href: "/profile/", label: "プロフィール" },
  stats: { href: "/stats/", label: "サイト統計" },
  contact: { href: "/contact/", label: "お問い合わせ" },
  policy: { href: "/privacy-policy/", label: "プライバシーポリシー" },
  disclaimer: { href: "/disclaimer/", label: "免責事項" },
};

const headerLinks: NavigationLink[] = [
  links.articles,
  links.tags,
  links.about,
  links.profile,
];

const footerLinks: NavigationLink[] = [
  ...Object.values(links),
];
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    { import.meta.env.PROD && (
      <script is:inline type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-V6P1VWVXYK"></script>
      <script is:inline type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        window.gtag = function gtag() {
          dataLayer.push(arguments);
        };
        gtag("js", new Date());

        gtag("config", "G-V6P1VWVXYK");
      </script>
    )}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator}>
    <meta name="theme-color" content="#79cdee">
    <meta name="color-scheme" content="light dark">
    <meta name="author" content="homi">
    <meta name="publisher" content="homi">
    <meta name="creator" content="homironi">
    
    <meta name="format-detection" content="telephone=no, address=no, email=no">

    <title>{title}</title>
    <meta name="description" content={defaultDescription}>

    <meta property="og:site_name" content={Astro.site} />
    <meta property="og:title" content={ogData.title} />
    <meta property="og:description" content={ogData.description} />
    <meta property="og:url" content={ogData.url} />
    <meta property="og:type" content={ogType} />
    {ogData.images && ogData.images.map((image: OpenGraphImage) => (
      <meta property="og:image" content={image.url} />
      <meta property="og:image:alt" content={image.alt} />
    ))}

    <meta name="twitter:card" content={twitterCardData.card} />
    <meta name="twitter:title" content={twitterCardData.title} />
    <meta name="twitter:description" content={twitterCardData.description} />
    {twitterCardData.images && twitterCardData.images.map((image: string) => (
      <meta name="twitter:image" content={image} />
    ))}
    <meta name="twitter:site" content={twitterCardData.site} />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16">
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/apple-icon.png" type="image/png" sizes="180x180">
    
    {import.meta.env.PROD && (
      <script
        is:inline
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7565570537846567"
        crossorigin="anonymous"
      />
    )}

    <slot name="head"/>
  </head>
  <body>
    <Header links={headerLinks} />
    <slot/>
    <Footer links={ footerLinks } />
  </body>
</html>
